<body class="login_page">
  <div class="siign_wrapper">
    <div class="text-center name">
      <h2 class="heading_one">Sign In</h2>
    </div>

    <div class="form-style">
      <form
        class="row"
        [formGroup]="login_form"
        (ngSubmit)="validate_credentials()"
      >
        <div class="col-12">
          <label for="">Email</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              formControlName="user_email"
            />
          </div>
        </div>
        <div class="col-12">
          <label for="">Password</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="user_password"
            />
            <div class="input-group-text">
              <i class="fas fa-eye-slash" id="eye"></i>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <button
              formaction="lobbyflow-cash.html"
              class="comn-btn w-100"
              [disabled]="!login_form.valid"
            >
              Sign In
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
